{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>{% block in_title %} {% endblock %}</title>
</head>

<body>
  <header>
    <nav сlass="menu-nav">
      <div>
        <a href="/Artist/view" class="menu-link">Артисты</a>
        <a href="/Instrument/view" class="menu-link">Инструменты</a>
        <a href="/Instructor/view" class="menu-link">Инструкторы</a>
        <a href="/Lesson/view" class="menu-link">Занятия</a>
      </div>
    </nav>
  </header>
  {% block in_body %}{% endblock %}
</body>
</html>